openapi: 3.0.0
info:
  contact:
    email: sales@shipengine.com
    name: ShipEngine Sales & Support
    url: https://www.shipengine.com/contact/
    x-phone: 1-512-856-5379
  description: |
    ShipEngine's easy-to-use REST API lets you manage all of your shipping needs without worrying about the complexities of different carrier APIs and protocols. We handle all the heavy lifting so you can focus on providing a first-class shipping experience for your customers at the best possible prices.

    Each of ShipEngine's features can be used by itself or in conjunction with each other to build powerful shipping functionality into your application or service.

    ## Getting Started
    If you're new to REST APIs then be sure to read our [introduction to REST](https://www.shipengine.com/docs/rest/) to understand the basics.  Learn how to [authenticate yourself to ShipEngine](https://www.shipengine.com/docs/auth/), and then use our [sandbox environment](https://www.shipengine.com/docs/sandbox/) to kick the tires and get familiar with our API. If you run into any problems, then be sure to check the [error handling guide](https://www.shipengine.com/docs/errors/) for tips.

    Here are some step-by-step **tutorials** to get you started:

      - [Learn how to create your first shipping label](https://www.shipengine.com/docs/labels/create-a-label/)
      - [Calculate shipping costs and compare rates across carriers](https://www.shipengine.com/docs/rates/)
      - [Track packages on-demand or in real time](https://www.shipengine.com/docs/tracking/)
      - [Validate mailing addresses anywhere on Earth](https://www.shipengine.com/docs/addresses/validation/)


    ## Shipping Labels for Every Major Carrier
    ShipEngine makes it easy to [create shipping labels for any carrier](https://www.shipengine.com/docs/labels/create-a-label/) and [download them](https://www.shipengine.com/docs/labels/downloading/) in a [variety of file formats](https://www.shipengine.com/docs/labels/formats/). You can even customize labels with your own [messages](https://www.shipengine.com/docs/labels/messages/) and [images](https://www.shipengine.com/docs/labels/branding/).


    ## Real-Time Package Tracking
    With ShipEngine you can [get the current status of a package](https://www.shipengine.com/docs/tracking/) or [subscribe to real-time tracking updates](https://www.shipengine.com/docs/tracking/webhooks/) via webhooks. You can also create [custimized tracking pages](https://www.shipengine.com/docs/tracking/branded-tracking-page/) with your own branding so your customers will always know where their package is.


    ## Compare Shipping Costs Across Carriers
    Make sure you ship as cost-effectively as possible by [comparing rates across carriers](https://www.shipengine.com/docs/rates/get-shipment-rates/) using the ShipEngine Rates API. Or if you don't know the full shipment details yet, then you can [get rate estimates](https://www.shipengine.com/docs/rates/estimate/) with limited address info.


    ## Worldwide Address Validation
    ShipEngine supports [address validation](https://www.shipengine.com/docs/addresses/validation/) for virtually [every country on Earth](https://www.shipengine.com/docs/addresses/validation/countries/), including the United States, Canada, Great Britain, Australia, Germany, France, Norway, Spain, Sweden, Israel, Italy, and over 160 others.
  termsOfService: https://www.shipengine.com/terms-of-service/
  title: ShipEngine API
  version: 1.1.202403202303
  x-logo:
    url: https://shipengine.github.io/img/shipengine-logo-square.png
    backgroundColor: '#FFFFFF'
    altText: ShipEngine logo
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
externalDocs:
  description: |
    ShipEngine's documentation is designed to help you start shipping as quickly as possible. With easy-to-follow tutorials, detailed reference docs, and ready-made recipes for common use cases, you'll see real results in no time at all.
  url: https://www.shipengine.com/docs/
servers:
- url: https://api.shipengine.com
security:
- api_key: []
tags:
- description: |
    Shipments are at the center of the ShipEngine API.  A shipment is the first step in [creating a shipping label](https://www.shipengine.com/docs/labels/create-a-label/), or [creating a manifest](https://www.shipengine.com/docs/shipping/manifests/).  It's also essential for [getting shipping rates](https://www.shipengine.com/docs/rates/).
  externalDocs:
    description: |
      Learn about the shipment object model concept, and how to persist and re-use shipment data inside ShipEngine.
    url: https://www.shipengine.com/docs/shipping/create-a-shipment/
  name: shipments
  x-displayName: Shipments
- description: |
    batches
  name: batches
  x-displayName: Batches
- description: |
    Print shipping labels for any of the top global carriers in minutes—instead of weeks. Simply [connect your existing carrier accounts](https://www.shipengine.com/docs/carriers/setup/) in the API dashboard, and then [begin creating labels](https://www.shipengine.com/docs/shipping/use-a-carrier-service/).
  externalDocs:
    description: Follow this quick start guide to create your first shipping label
      with ShipEngine
    url: https://www.shipengine.com/docs/labels/create-a-label/
  name: labels
  x-displayName: Labels
- description: |
    carriers
  name: carriers
  x-displayName: Carriers
- description: "For additional information about the ShipEngine account. \n"
  name: account
  x-displayName: Account
- description: |
    warehouses
  name: warehouses
  x-displayName: Warehouses
- description: |
    custom package types
  name: package_types
  x-displayName: Package Types
- description: |
    [Webhooks](https://www.shipengine.com/docs/tracking/webhooks/) are a powerful feature of ShipEngine that can save you from sending repeated polling requests to check on the state of something.  With webhooks, ShipEngine will automatically contact your servers when the stage changes.  This can include [parcel tracking](https://www.shipengine.com/docs/tracking/) events, notification of the completion of a [batch operation](https://www.shipengine.com/docs/labels/bulk/),  or new [salses orders](https://www.shipengine.com/docs/orders/).
  externalDocs:
    description: Learn how to setup webhooks and start listening to ShipEngine events.
    url: https://www.shipengine.com/docs/tracking/webhooks/
  name: webhooks
  x-displayName: Webhooks
- description: |
    carrier accounts
  name: carrier_accounts
  x-displayName: Carrier Accounts
- description: |
    insurance
  name: insurance
  x-displayName: Insurance
- description: |
    manifests
  name: manifests
  x-displayName: Manifests
- description: Scheduled package pickups
  name: package_pickups
  x-displayName: Package Pickups
- description: |
    Make sure you ship as cost-effectively as possible by [quickly comparing rates](https://www.shipengine.com/docs/rates/) using the ShipEngine Rates API. As long as you have the carrier connected to your account, you'll be able to see and compare different rates and services.
  externalDocs:
    description: |
      This quick start guide shows you how to get shipping rates for multiple carriers so you can choose the fastest, cheapest, or most reliable option.
    url: https://www.shipengine.com/docs/rates/
  name: rates
  x-displayName: Rates
- description: |
    tags
  name: tags
  x-displayName: Tags
- description: |
    [Track packages](https://www.shipengine.com/docs/tracking/) across any of our 20+ supported carrier accounts and create tracking events to keep your customers up-to-date. Easily integrate real-time tracking information for shipments into your app, email, or SMS.
  externalDocs:
    description: Learn how to use ShipEngine to track any package with a carrier and
      a tracking number
    url: https://www.shipengine.com/docs/tracking/
  name: tracking
  x-displayName: Tracking
- description: |
    No matter your shipping volume, failed deliveries and address change surcharges cut into your bottom line and damage perception with customers. Our address validation services ensure your packages make it to the right place the first time. [Learn how to leverage our address validation services here.](https://www.shipengine.com/docs/addresses/validation/)

    ShipEngine supports address validation for virtually every country on Earth, including the United States, Canada, Great Britain, Australia, Germany, France, Norway, Spain, Sweden, Israel, Italy, and over 160 others.
  externalDocs:
    description: |
      Address validation ensures accurate addresses and can lead to reduced shipping costs by preventing address correction surcharges. ShipEngine cross references multiple databases to validate addresses and identify potential deliverability issues.
    url: https://www.shipengine.com/docs/addresses/validation/
  name: addresses
  x-displayName: Addresses
- name: service_points
  x-displayName: Service Points
- description: |
    downloads
  name: downloads
  x-displayName: Downloads
- name: tokens
  x-displayName: Tokens
paths:
  /v1/account/settings:
    description: ShipEngine Account settings
    get:
      description: List all account settings for the ShipEngine account
      operationId: Account_listSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_settings'
          description: The request was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: List Account Settings
      tags:
      - account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-account-settings
      x-accepts: application/json
    summary: Account settings
  /v1/account/settings/images:
    description: ShipEngine Account images
    get:
      description: List all account images for the ShipEngine account
      operationId: Account_listImages
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paged_list_response_body'
          description: The request was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: List Account Images
      tags:
      - account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-account-settings-images
      x-accepts: application/json
    post:
      description: Create an Account Image
      operationId: Account_createImage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_settings_images'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_settings_images'
          description: The requested object creation was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Create an Account Image
      tags:
      - account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-account-settings-images
      x-content-type: application/json
      x-accepts: application/json
    summary: Account settings images
  /v1/account/settings/images/{label_image_id}:
    delete:
      description: Delete Account Image By Id
      operationId: Account_deleteImageById
      parameters:
      - description: Label Image Id
        explode: false
        in: path
        name: label_image_id
        required: true
        schema:
          $ref: '#/components/schemas/image_id'
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
          description: The request was successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Delete Account Image By Id
      tags:
      - account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-account-settings-images-label_image_id
      x-accepts: application/json
    description: ShipEngine Account images
    get:
      description: Retrieve information for an account image.
      operationId: Account_getImageById
      parameters:
      - description: Label Image Id
        explode: false
        in: path
        name: label_image_id
        required: true
        schema:
          $ref: '#/components/schemas/image_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_settings_images'
          description: The request was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Get Account Image By ID
      tags:
      - account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-account-settings-images-label_image_id
      x-accepts: application/json
    put:
      description: Update information for an account image.
      operationId: Account_updateImageById
      parameters:
      - description: Label Image Id
        explode: false
        in: path
        name: label_image_id
        required: true
        schema:
          $ref: '#/components/schemas/image_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_settings_images'
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
          description: The request was successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Update Account Image By ID
      tags:
      - account
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
    summary: Account settings images
  /v1/addresses/recognize:
    description: |
      Data often enters your system as unstructured text (for example: emails, SMS messages, support tickets, or other documents). ShipEngine's address-recognition API helps you extract meaningful address data (e.g. recipient name, address line 1, line 2, city, postal code) from this unstructured text.
    put:
      description: |
        The address-recognition API makes it easy for you to extract address data from unstructured text, including the recipient name, line 1, line 2, city, postal code, and more.

        Data often enters your system as unstructured text (for example: emails, SMS messages, support tickets, or other documents). ShipEngine's address-recognition API helps you extract meaningful, structured data from this unstructured text. The parsed address data is returned in the same structure that's used for other ShipEngine APIs, such as address validation, rate quotes, and shipping labels.

        > **Note:** Address recognition is currently supported for the United States, Canada, Australia, New Zealand, the United Kingdom, and Ireland.
      operationId: parse_address
      requestBody:
        content:
          application/json:
            examples:
              text_only:
                description: |
                  This is the simplest way to call the address-recognition API. Just pass the text to be parsed and nothing else.
                summary: Text only
                value:
                  text: "Margie McMiller at 3800 North Lamar suite 200 in austin,\
                    \ tx.  The zip code there is 78652."
              some_known_fields:
                description: |
                  You can optionally provide an `address` object containing any already-known values. For example, you may already know the recipient's name, city, and country, and only want to parse the street address into separate lines.
                summary: Some known fields
                value:
                  text: "Margie McMiller at 3800 North Lamar suite 200 in austin,\
                    \ tx.  The zip code there is 78652."
                  address:
                    country_code: US
                    address_residential_indicator: true
            schema:
              $ref: '#/components/schemas/parse_address_request_body'
        description: |
          The only required field is `text`, which is the text to be parsed. You can optionally also provide an `address` containing already-known values. For example, you may already know the recipient's name, city, and country, and only want to parse the street address into separate lines.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                text_only:
                  description: |
                    This response shows that the address-recognition API was able to recognize all the address entities in the text.  Notice that the `country_code` is not populated and the `address_residential_indicator` is "unknown", since neither of these fields was included in the text.
                  value:
                    score: 0.9122137426845613
                    address:
                      name: Margie McMiller
                      address_line1: 3800 North Lamar
                      address_line2: Suite 200
                      city_locality: Austin
                      state_province: TX
                      postal_code: 78652
                      address_residential_indicator: unknown
                    entities:
                    - type: person
                      score: 0.9519646137063122
                      text: Margie McMiller
                      start_index: 0
                      end_index: 14
                      result:
                        value: Margie McMiller
                    - type: address_line
                      score: 0.9805313966503588
                      text: 3800 North Lamar
                      start_index: 19
                      end_index: 34
                      result:
                        line: 1
                        value: 3800 North Lamar
                    - type: number
                      score: 0.9805313966503588
                      text: 3800
                      start_index: 19
                      end_index: 22
                      result:
                        type: cardinal
                        value: 3800
                    - type: address_line
                      score: 1
                      text: suite 200
                      start_index: 36
                      end_index: 44
                      result:
                        line: 2
                        value: Suite 200
                    - type: number
                      score: 0.9805313966503588
                      text: 200
                      start_index: 42
                      end_index: 44
                      result:
                        type: cardinal
                        value: 200
                    - type: city_locality
                      score: 0.9805313966503588
                      text: austin
                      start_index: 49
                      end_index: 54
                      result:
                        value: Austin
                    - type: state_province
                      score: 0.6082904353940255
                      text: tx
                      start_index: 57
                      end_index: 58
                      result:
                        name: Texas
                        value: TX
                    - type: postal_code
                      score: 0.9519646137063122
                      text: 78652
                      start_index: 84
                      end_index: 88
                      result:
                        value: 78652
                some_known_fields:
                  description: |
                    This response is shows that the address-recognition API was able to recognize all the address entities in the text.  Notice that the `country_code` and `address_residential_indicator` fields are populated with the values that were provided in the request.
                  value:
                    score: 0.9122137426845613
                    address:
                      name: Margie McMiller
                      address_line1: 3800 North Lamar
                      address_line2: Suite 200
                      city_locality: Austin
                      state_province: TX
                      postal_code: 78652
                      country_code: US
                      address_residential_indicator: true
                    entities:
                    - type: person
                      score: 0.9519646137063122
                      text: Margie McMiller
                      start_index: 0
                      end_index: 14
                      result:
                        value: Margie McMiller
                    - type: address_line
                      score: 0.9805313966503588
                      text: 3800 North Lamar
                      start_index: 19
                      end_index: 34
                      result:
                        line: 1
                        value: 3800 North Lamar
                    - type: number
                      score: 0.9805313966503588
                      text: 3800
                      start_index: 19
                      end_index: 22
                      result:
                        type: cardinal
                        value: 3800
                    - type: address_line
                      score: 1
                      text: suite 200
                      start_index: 36
                      end_index: 44
                      result:
                        line: 2
                        value: Suite 200
                    - type: number
                      score: 0.9805313966503588
                      text: 200
                      start_index: 42
                      end_index: 44
                      result:
                        type: cardinal
                        value: 200
                    - type: city_locality
                      score: 0.9805313966503588
                      text: austin
                      start_index: 49
                      end_index: 54
                      result:
                        value: Austin
                    - type: state_province
                      score: 0.6082904353940255
                      text: tx
                      start_index: 57
                      end_index: 58
                      result:
                        name: Texas
                        value: TX
                    - type: postal_code
                      score: 0.9519646137063122
                      text: 78652
                      start_index: 84
                      end_index: 88
                      result:
                        value: 78652
              schema:
                $ref: '#/components/schemas/parse_address_response_body'
          description: |
            Returns the parsed address, as well as a confidence score and a list of all the entities that were recognized in the text.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Parse an address
      tags:
      - addresses
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-addresses-recognize
      x-content-type: application/json
      x-accepts: application/json
    summary: Parse an address
  /v1/addresses/validate:
    description: |
      Address validation ensures accurate addresses and can lead to reduced shipping costs by preventing address correction surcharges.
      ShipEngine cross references multiple databases to validate addresses and identify potential deliverability issues.
    post:
      description: |
        Address validation ensures accurate addresses and can lead to reduced shipping costs by preventing address correction surcharges.
        ShipEngine cross references multiple databases to validate addresses and identify potential deliverability issues.
      operationId: validate_address
      requestBody:
        content:
          application/json:
            examples:
              all_known_fields_request:
                description: A call that returns a status of `verified`.
                summary: All Known Fields
                value:
                - name: Mickey and Minnie Mouse
                  phone: 714-781-4565
                  company_name: The Walt Disney Company
                  address_line1: 500 South Buena Vista Street
                  city_locality: Burbank
                  state_province: CA
                  postal_code: 91521
                  country_code: US
            schema:
              $ref: '#/components/schemas/validate_address_request_body'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                all_known_fields:
                  description: A response for a `verified` status call.
                  summary: All Known Fields
                  value:
                  - status: verified
                    original_address:
                      name: Mickey and Minnie Mouse
                      phone: 714-781-4565
                      company_name: The Walt Disney Company
                      address_line1: 500 South Buena Vista Street
                      address_line2: null
                      address_line3: null
                      city_locality: Burbank
                      state_province: CA
                      postal_code: 91521
                      country_code: US
                      address_residential_indicator: unknown
                    matched_address:
                      name: MICKEY AND MINNIE MOUSE
                      phone: 714-781-4565
                      company_name: THE WALT DISNEY COMPANY
                      address_line1: 500 S BUENA VISTA ST
                      address_line2: null
                      address_line3: null
                      city_locality: BURBANK
                      state_province: CA
                      postal_code: 91521-0007
                      country_code: US
                      address_residential_indicator: false
                    messages: []
                empty_fields:
                  description: A response for an `unverified` API Call with error
                    message
                  summary: Empty Fields
                  value:
                  - status: unverified
                    original_address:
                      name: null
                      phone: null
                      company_name: null
                      address_line1: null
                      address_line2: null
                      address_line3: null
                      city_locality: null
                      state_province: null
                      postal_code: null
                      country_code: null
                      address_residential_indicator: unknown
                    matched_address: null
                    messages:
                    - code: a1001
                      message: country_code is not currently a supported country please
                        check the documentation for acceptable 2-letter country codes.
                      type: error
                      detail_code: unsupported_country
              schema:
                $ref: '#/components/schemas/validate_address_response_body'
          description: The request was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Validate An Address
      tags:
      - addresses
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-addresses-validate
      x-content-type: application/json
      x-accepts: application/json
    summary: Address Validation
  /v1/batches:
    description: |
      Batches are an advanced feature of ShipEngine designed for users who need to generate hundreds or thousands of labels at a time.
      When ShipEngine generates labels it relies on many carriers, their services, their dependencies, and a number of other variables
      to fulfill your requests; those requests can take a few minutes for us to get back to you.
    get:
      description: List Batches associated with your Shipengine account
      operationId: list_batches
      parameters:
      - explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/batch_status'
        style: form
      - description: |
          Return a specific page of results. Defaults to the first page. If set to a number that's greater than the number of pages of results, an empty page is returned.
        example: 2
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          format: int32
          minimum: 1
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-batches-get-parameters-1-schema
        style: form
        x-konfig-original-example: 2
      - description: The number of results to return per response.
        example: 50
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 25
          example: 25
          format: int32
          minimum: 1
          type: integer
          x-konfig-original-example: 25
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-batches-get-parameters-2-schema
        style: form
        x-konfig-original-example: 50
      - description: Controls the sort order of the query.
        explode: true
        in: query
        name: sort_dir
        required: false
        schema:
          $ref: '#/components/schemas/sort_dir'
        style: form
      - description: Batch Number
        explode: true
        in: query
        name: batch_number
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort_by
        required: false
        schema:
          $ref: '#/components/schemas/batches_sort_by'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_batches_response_body'
          description: The request was a success.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: List Batches
      tags:
      - batches
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-batches
      x-accepts: application/json
    post:
      description: Create a Batch
      operationId: create_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_batch_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch'
          description: The requested object creation was a success.
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch'
          description: "The request was a partial success. It contains results, as\
            \ well as processing errors."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Create A Batch
      tags:
      - batches
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-batches
      x-content-type: application/json
      x-accepts: application/json
    summary: Batches
  /v1/batches/external_batch_id/{external_batch_id}:
    description: Retrive a batch from an external batch ID
    get:
      description: Get Batch By External ID
      operationId: Batches_getByExternalId
      parameters:
      - example: 13553d7f-3c87-4771-bae1-c49bacef11cb
        explode: false
        in: path
        name: external_batch_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 13553d7f-3c87-4771-bae1-c49bacef11cb
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch'
          description: The request was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Get Batch By External ID
      tags:
      - batches
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-batches-external_batch_id-external_batch_id
      x-accepts: application/json
    summary: External Batch ID
  /v1/batches/{batch_id}:
    delete:
      description: Delete Batch By Id
      operationId: delete_batch
      parameters:
      - description: Batch ID
        explode: false
        in: path
        name: batch_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
          description: The request was successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Delete Batch By Id
      tags:
      - batches
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-batches-batch_id
      x-accepts: application/json
    description: Check the status of your batch by retrieving it with a Batch ID.
    get:
      description: Get Batch By ID
      operationId: Batches_getById
      parameters:
      - description: Batch ID
        explode: false
        in: path
        name: batch_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch'
          description: The request was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Get Batch By ID
      tags:
      - batches
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-batches-batch_id
      x-accepts: application/json
    put:
      description: Update Batch By Id
      operationId: update_batch
      parameters:
      - description: Batch ID
        explode: false
        in: path
        name: batch_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
          description: The request was successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Update Batch By Id
      tags:
      - batches
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-batches-batch_id
      x-accepts: application/json
    summary: Batch By ID
  /v1/batches/{batch_id}/add:
    description: |
      You can check your balance for a particular carrier by calling [List Carriers](https://www.shipengine.com/docs/reference/list-carriers/) endpoint.
      For any carrier account where requires_funded_amount is true, you can add funds.
    post:
      description: Add a Shipment or Rate to a Batch
      operationId: Batches_addToBatch
      parameters:
      - description: Batch ID
        explode: false
        in: path
        name: batch_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/modify_batch'
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
          description: The request was successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Add to a Batch
      tags:
      - batches
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-batches-batch_id-add
      x-content-type: application/json
      x-accepts: application/json
    summary: Add Funds to a Carrier
  /v1/batches/{batch_id}/errors:
    description: |
      Error handling in batches are handled differently than in a single synchronous request.
      You must retrieve the status of your batch by [getting a batch](https://www.shipengine.com/docs/reference/get-batch-by-id/) and getting an overview of the statuses or you can list errors directly here below to get detailed information about the errors.
    get:
      description: |
        Error handling in batches are handled differently than in a single synchronous request.
        You must retrieve the status of your batch by [getting a batch](https://www.shipengine.com/docs/reference/get-batch-by-id/) and getting an overview of the statuses or you can list errors directly here below to get detailed information about the errors.
      operationId: Batches_getErrors
      parameters:
      - description: Batch ID
        explode: false
        in: path
        name: batch_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
      - description: |
          Return a specific page of results. Defaults to the first page. If set to a number that's greater than the number of pages of results, an empty page is returned.
        example: 2
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          format: int32
          minimum: 1
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-batches-batch_id-errors-get-parameters-0-schema
        style: form
        x-konfig-original-example: 2
      - explode: true
        in: query
        name: pagesize
        required: false
        schema:
          format: int32
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_batch_errors_response_body'
          description: The request was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Get Batch Errors
      tags:
      - batches
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-batches-batch_id-errors
      x-accepts: application/json
    summary: Batch Errors
  /v1/batches/{batch_id}/process/labels:
    description: Process Batch ID Labels
    post:
      description: Process Batch ID Labels
      operationId: process_batch
      parameters:
      - description: Batch ID
        explode: false
        in: path
        name: batch_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/process_batch_request_body'
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
          description: The request was successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Process Batch ID Labels
      tags:
      - batches
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-batches-batch_id-process-labels
      x-content-type: application/json
      x-accepts: application/json
    summary: Process Batch ID Labels
  /v1/batches/{batch_id}/remove:
    description: Remove a list of shipments from a batch
    post:
      description: Remove a shipment or rate from a batch
      operationId: Batches_removeFromBatch
      parameters:
      - description: Batch ID
        explode: false
        in: path
        name: batch_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/modify_batch'
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
          description: The request was successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Remove From Batch
      tags:
      - batches
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-batches-batch_id-remove
      x-content-type: application/json
      x-accepts: application/json
    summary: Remove Batch By ID
  /v1/carriers:
    description: |
      Carriers are a company or individual that specializes in transporting freight from one destination to another.
      Shipengine allows you to easily integrate with multiple carriers so you can chose the shipping option that is right for you.
    get:
      description: List all carriers that have been added to this account
      operationId: list_carriers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_carriers_response_body'
          description: The request was a success.
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_carriers_response_body'
          description: "The request was a partial success. It contains results, as\
            \ well as errors."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: List Carriers
      tags:
      - carriers
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-carriers
      x-accepts: application/json
    summary: Carriers
  /v1/carriers/{carrier_id}:
    delete:
      description: Disconnect a Carrier of the given ID from the account
      operationId: Carriers_disconnectById
      parameters:
      - description: Carrier ID
        example: se-28529731
        explode: false
        in: path
        name: carrier_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
        x-konfig-original-example: se-28529731
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
          description: The request was successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Disconnect Carrier by ID
      tags:
      - carriers
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-carriers-carrier_id
      x-accepts: application/json
    description: Perform actions and get information on individual carriers connected
      with your account.
    get:
      description: Retrive carrier info by ID
      operationId: Carriers_getById
      parameters:
      - description: Carrier ID
        example: se-28529731
        explode: false
        in: path
        name: carrier_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
        x-konfig-original-example: se-28529731
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carrier'
          description: The request was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Get Carrier By ID
      tags:
      - carriers
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-carriers-carrier_id
      x-accepts: application/json
    summary: Individual carriers
  /v1/carriers/{carrier_id}/add_funds:
    description: All carriers require that funds to be attached to an account to ensure
      payment for the various services they provide to their customers.
    put:
      description: Add Funds To A Carrier
      operationId: Carriers_addFundsToCarrier
      parameters:
      - description: Carrier ID
        example: se-28529731
        explode: false
        in: path
        name: carrier_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
        x-konfig-original-example: se-28529731
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/monetary_value'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/add_funds_to_carrier_response_body'
          description: The request was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Add Funds To Carrier
      tags:
      - carriers
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-carriers-carrier_id-add_funds
      x-content-type: application/json
      x-accepts: application/json
    summary: Carrier Funds
  /v1/carriers/{carrier_id}/options:
    description: "Carriers support various options for particular shipments. Ex. (non-machinable,\
      \ is_alcohol, fragile, etc)"
    get:
      description: Get a list of the options available for the carrier
      operationId: Carriers_getOptions
      parameters:
      - description: Carrier ID
        example: se-28529731
        explode: false
        in: path
        name: carrier_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
        x-konfig-original-example: se-28529731
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_carrier_options_response_body'
          description: The request was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Get Carrier Options
      tags:
      - carriers
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-carriers-carrier_id-options
      x-accepts: application/json
    summary: Carrier Options
  /v1/carriers/{carrier_id}/packages:
    description: |
      Carriers support many different package types, Shipengine supports retrieving all available package so that
      you can best determine what is right for your particular shipment.
    get:
      description: List the package types associated with the carrier
      operationId: Carriers_listPackageTypes
      parameters:
      - description: Carrier ID
        example: se-28529731
        explode: false
        in: path
        name: carrier_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
        x-konfig-original-example: se-28529731
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_carrier_package_types_response_body'
          description: The request was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: List Carrier Package Types
      tags:
      - carriers
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-carriers-carrier_id-packages
      x-accepts: application/json
    summary: Carrier Packages
  /v1/carriers/{carrier_id}/services:
    description: |
      Carrier services usually refer to the various shipping options that a carrier provides to its customers.
      Ex. Priority mail, overnight, international
    get:
      description: List the services associated with the carrier ID
      operationId: Carriers_listServices
      parameters:
      - description: Carrier ID
        example: se-28529731
        explode: false
        in: path
        name: carrier_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
        x-konfig-original-example: se-28529731
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_carrier_services_response_body'
          description: The request was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: List Carrier Services
      tags:
      - carriers
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-carriers-carrier_id-services
      x-accepts: application/json
    summary: Carrier Services
  /v1/connections/carriers/{carrier_name}:
    description: Carrier connections
    post:
      description: Connect a carrier account
      operationId: connect_carrier
      parameters:
      - description: "The carrier name, such as `stamps_com`, `ups`, `fedex`, or `dhl_express`."
        example: dhl_express
        explode: false
        in: path
        name: carrier_name
        required: true
        schema:
          $ref: '#/components/schemas/carrier_name'
        style: simple
        x-konfig-original-example: dhl_express
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_carrier_request_body'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_carrier_response_body'
          description: The request was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Connect a carrier account
      tags:
      - carrier_accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-connections-carriers-carrier_name
      x-content-type: application/json
      x-accepts: application/json
    summary: Carrier connections
  /v1/connections/carriers/{carrier_name}/{carrier_id}:
    delete:
      description: Disconnect a carrier
      operationId: disconnect_carrier
      parameters:
      - description: "The carrier name, such as `stamps_com`, `ups`, `fedex`, or `dhl_express`."
        example: dhl_express
        explode: false
        in: path
        name: carrier_name
        required: true
        schema:
          $ref: '#/components/schemas/carrier_name'
        style: simple
        x-konfig-original-example: dhl_express
      - description: Carrier ID
        example: se-28529731
        explode: false
        in: path
        name: carrier_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
        x-konfig-original-example: se-28529731
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
          description: The request was successful.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Disconnect a carrier
      tags:
      - carrier_accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-connections-carriers-carrier_name-carrier_id
      x-accepts: application/json
    description: Disconnect a carrier
    summary: Disconnect a carrier
  /v1/connections/carriers/{carrier_name}/{carrier_id}/settings:
    description: Carrier settings
    get:
      description: Get carrier settings
      operationId: Carrieraccounts_getSettings
      parameters:
      - description: "The carrier name, such as `ups`, `fedex`, or `dhl_express`."
        example: dhl_express
        explode: false
        in: path
        name: carrier_name
        required: true
        schema:
          $ref: '#/components/schemas/carrier_name_with_settings'
        style: simple
        x-konfig-original-example: dhl_express
      - description: Carrier ID
        example: se-28529731
        explode: false
        in: path
        name: carrier_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
        x-konfig-original-example: se-28529731
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_carrier_settings_response_body'
          description: The request was a success.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Get carrier settings
      tags:
      - carrier_accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-connections-carriers-carrier_name-carrier_id-settings
      x-accepts: application/json
    put:
      description: Update carrier settings
      operationId: Carrieraccounts_updateSettings
      parameters:
      - description: "The carrier name, such as `ups`, `fedex`, or `dhl_express`."
        example: dhl_express
        explode: false
        in: path
        name: carrier_name
        required: true
        schema:
          $ref: '#/components/schemas/carrier_name_with_settings'
        style: simple
        x-konfig-original-example: dhl_express
      - description: Carrier ID
        example: se-28529731
        explode: false
        in: path
        name: carrier_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
        x-konfig-original-example: se-28529731
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_carrier_settings_request_body'
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
          description: The request was successful.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Update carrier settings
      tags:
      - carrier_accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-connections-carriers-carrier_name-carrier_id-settings
      x-content-type: application/json
      x-accepts: application/json
    summary: Carrier settings
  /v1/connections/insurance/shipsurance:
    delete:
      description: Disconnect a Shipsurance Account
      operationId: disconnect_insurer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/disconnect_insurer_response_body'
          description: The request was a success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Disconnect a Shipsurance Account
      tags:
      - insurance
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-connections-insurance-shipsurance
      x-accepts: application/json
    description: Shipsurance Connection
    post:
      description: Connect a Shipsurance Account
      operationId: connect_insurer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_insurer_request_body'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_insurer_response_body'
          description: The request was a success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Connect a Shipsurance Account
      tags:
      - insurance
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-connections-insurance-shipsurance
      x-content-type: application/json
      x-accepts: application/json
    summary: Shipsurance Connection
  /v1/downloads/{dir}/{subdir}/{filename}:
    description: |
      This endpoint is used to download forms that are generated in the various pdf, png, zpl formats
      such as labels and batches
    get:
      description: Get File
      operationId: download_file
      parameters:
      - explode: false
        in: path
        name: subdir
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: filename
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: dir
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: download
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: rotation
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/download_file_pdf_response_body'
            image/png:
              schema:
                $ref: '#/components/schemas/download_file_png_response_body'
            application/zpl:
              schema:
                $ref: '#/components/schemas/download_file_zpl_response_body'
          description: The request was a success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Download File
      tags:
      - downloads
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-downloads-dir-subdir-filename
      x-accepts: application/json
    summary: File Download
  /v1/environment/webhooks:
    description: |
      ShipEngine exposes asynchronous operations for long running operations such as batch labels and rates.
      Webhooks allow the ShipEngine servers to contact your servers when an operation changes state, such as a batch label creation completion.
    get:
      description: List all webhooks currently enabled for the account.
      operationId: list_webhooks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_webhooks_response_body'
          description: The request was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: List Webhooks
      tags:
      - webhooks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-environment-webhooks
      x-accepts: application/json
    post:
      description: Create a webook for specific events in the environment.
      operationId: create_webhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_webhook_request_body'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook'
          description: The request was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request conflicts with an existing resource.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Create a Webhook
      tags:
      - webhooks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-environment-webhooks
      x-content-type: application/json
      x-accepts: application/json
    summary: Webhooks
  /v1/environment/webhooks/{webhook_id}:
    delete:
      description: Delete a webhook
      operationId: delete_webhook
      parameters:
      - description: Webhook ID
        explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
          description: The request was successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Delete Webhook By ID
      tags:
      - webhooks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-environment-webhooks-webhook_id
      x-accepts: application/json
    description: "Retrieve, update, and delete information for individual webhooks"
    get:
      description: Retrieve individual webhook by an ID
      operationId: Webhooks_getById
      parameters:
      - description: Webhook ID
        explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook'
          description: The request was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Get Webhook By ID
      tags:
      - webhooks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-environment-webhooks-webhook_id
      x-accepts: application/json
    put:
      description: Update the webhook url property
      operationId: update_webhook
      parameters:
      - description: Webhook ID
        explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_webhook_request_body'
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
          description: The request was successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The specified resource does not exist.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Update a Webhook
      tags:
      - webhooks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-environment-webhooks-webhook_id
      x-content-type: application/json
      x-accepts: application/json
    summary: Webhook
  /v1/insurance/shipsurance/add_funds:
    description: |
      [Shipsurance](https://www.shipsurance.com/) is a shipping insurance company offering coverage for shipments sent via the major shipping carriers worldwide.
    patch:
      description: |
        You may need to auto fund your account from time to time. For example, if you don't normally ship items over $100,
        and may want to add funds to insurance rather than keeping the account funded.
      operationId: Insurance_autoFundAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/monetary_value'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/monetary_value'
          description: The request was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Add Funds To Insurance
      tags:
      - insurance
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v1-insurance-shipsurance-add_funds
      x-content-type: application/json
      x-accepts: application/json
    summary: Shipsurance
  /v1/insurance/shipsurance/balance:
    description: |
      [Shipsurance](https://www.shipsurance.com/) is a shipping insurance company offering coverage for shipments sent via the major shipping carriers worldwide.
    get:
      description: Retrieve the balance of your Shipsurance account.
      operationId: Insurance_getFundsBalance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/monetary_value'
          description: The request was a success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: The request contained errors.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_body'
          description: |
            An error occurred on ShipEngine's side.

            > This error will automatically be reported to our engineers.
          x-do-not-generate: true
      summary: Get Insurance Funds Balance
      tags:
      - insurance
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-insurance-shipsurance-balance
      x-accepts: application/json
    summary: Shipsurance
  /v1/labels:
    description: |
      Print shipping labels for any of the top global carriers in minutes—instead of weeks. Simply [connect your existing carrier accounts](https://www.shipengine.com/docs/carriers/setup/)
      in the API dashboard, and then [begin creating labels](https://www.shipengine.com/docs/shipping/use-a-carrier-service/).
    get:
      description: |
        This endpoint returns a list of labels that you've [created](https://www.shipengine.com/docs/labels/create-a-label/). You can optionally filter the results as well as control their sort order and the number of results returned at a time.

        By default, all labels are returned, 25 at a time, starting with the most recently created ones.  You can combine multiple filter options to narrow-down the results.  For example, if you only want to get your UPS labels for your east coast warehouse you could query by both `warehouse_id` and `carrier_id`
      operationId: list_labels
      parameters:
      - description: Only return labels that are currently in the specified status
        explode: true
        in: query
        name: label_status
        required: false
        schema:
          $ref: '#/components/schemas/label_status'
        style: form
      - description: "Only return labels for a specific [carrier service](https://www.shipengine.com/docs/shipping/use-a-carrier-service/)"
        example: usps_first_class_mail
        explode: true
        in: query
        name: service_code
        required: false
        schema:
          $ref: '#/components/schemas/service_code'
        style: form
        x-konfig-original-example: usps_first_class_mail
      - description: "Only return labels for a specific [carrier account](https://www.shipengine.com/docs/carriers/setup/)"
        explode: true
        in: query
        name: carrier_id
        required: false
        schema:
          $ref: '#/components/schemas/se_id'
        style: form
      - description: Only return labels with a specific tracking number
        example: "9405511899223197428490"
        explode: true
        in: query
        name: tracking_number
        required: false
        schema:
          minLength: 1
          type: string
        style: form
        x-konfig-original-example: "9405511899223197428490"
      - description: "Only return labels that were created in a specific [batch](https://www.shipengine.com/docs/labels/bulk/)"
        explode: true
        in: query
        name: batch_id
        required: false
        schema:
          $ref: '#/components/schemas/se_id'
        style: form
      - description: Rate ID
        explode: true
        in: query
        name: rate_id
        required: false
        schema:
          $ref: '#/components/schemas/se_id'
        style: form
      - description: Shipment ID
        explode: true
        in: query
        name: shipment_id
        required: false
        schema:
          $ref: '#/components/schemas/se_id'
        style: form
      - description: "Only return labels that originate from a specific [warehouse](https://www.shipengine.com/docs/shipping/ship-from-a-warehouse/)"
        explode: true
        in: query
        name: warehouse_id
        required: false
        schema:
          $ref: '#/components/schemas/se_id'
        style: form
      - description: Only return labels that were created on or after a specific date/time
        example: 2019-03-12T19:24:13.657Z
        explode: true
        in: query
        name: created_at_start
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-konfig-original-example: 2019-03-12T19:24:13.657Z
      - description: Only return labels that were created on or before a specific
          date/time
        example: 2019-03-12T19:24:13.657Z
        explode: true
        in: query
        name: created_at_end
        required: false
        schema:
          format: date-time
          type: string
        style: form
[...]
